{% extends 'dashboard/dashboard.html' %}{% load static %}


{% block title %}
<title>Ad-mision| Dashboard - Pagina principal</title>

{% endblock %}

{% block descripcion %}
    <meta name="description" content="Bienvenido a Ad-mision, tu portal personalizado para la preparación universitaria. Descubre tu progreso, estadísticas clave y más en nuestro completo panel de control. ¡Tu camino a la universidad comienza aquí!">
    <meta name="author" content="Ad-mision s Team dev">
{% endblock %}

{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ad-min</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Inicio</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Resumen</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card widget-inline">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0">
                                            <div class="card-body text-center">
                                                <i class="ri-briefcase-line text-muted font-24"></i>
                                                <h3><span>{{miperfil.total_test}}</span></h3>
                                                <p class="text-muted font-15 mb-0">Total examenes</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                            <div class="card-body text-center">
                                                <i class="ri-list-check-2 text-muted font-24"></i>
                                                <h3><span>{{miperfil.test_aproval}}</span></h3>
                                                <p class="text-muted font-15 mb-0">Total aprobados</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                            <div class="card-body text-center">
                                                <i class="ri-group-line text-muted font-24"></i>
                                                <h3><span>{{miperfil.categorias_diferentes}}</span></h3>
                                                <p class="text-muted font-15 mb-0">Temas</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                            <div class="card-body text-center">
                                                <i class="ri-line-chart-line text-muted font-24"></i>
                                                <h3><span>{{miperfil.average}}</span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                                <p class="text-muted font-15 mb-0">Promedio general</p>
                                            </div>
                                        </div>
                                    </div>
        
                                </div> <!-- end row -->
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->


                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="header-title">Estado de evaluacion</h4>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <!-- item-->
                                        <a href="{% url 'view_test_complete' %}" class="dropdown-item">Ver todos</a>
                                        <!-- item-->

                                    </div>
                                </div>
                            </div>
                            <div class="d-none">
                                <input type="text" id="chart-aprobados" value="{{miperfil.test_aproval}}">
                                <input type="text" id="chart-tiempo-acabado" value="{{miperfil.test_incomplete}}">
                                <input type="text" id="chart-reprobados" value="{{miperfil.test_failures}}">
                            </div>
                
                            <div class="card-body pt-0">
                                <div class="mt-3 mb-4 chartjs-chart" style="height: 204px;">
                                    <canvas id="project-status-chart" data-colors="#0acf97,#727cf5,#fa5c7c"></canvas>
                                </div>

                                <div class="row text-center mt-2 py-2">
                                    <div class="col-sm-4">
                                        <div class="my-2 my-sm-0">
                                                <i class="mdi mdi-trending-up text-success mt-3 h3"></i>
                                            <h3 class="fw-normal">
                                                <span>{{miperfil.porcentaje_aprobados}}%</span>
                                            </h3>
                                            <p class="text-muted mb-0">Aprobados</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="my-2 my-sm-0">
                                                <i class="mdi mdi-trending-down text-primary mt-3 h3"></i>
                                            <h3 class="fw-normal">
                                                <span>{{miperfil.porcentaje_tiempo_acabado}}%</span>
                                            </h3>
                                            <p class="text-muted mb-0"> Tiempo acabado</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="my-2 my-sm-0">
                                                <i class="mdi mdi-trending-down text-danger mt-3 h3"></i>
                                            <h3 class="fw-normal">
                                                <span>{{miperfil.porcentaje_reprobados}}%</span>
                                            </h3>
                                            <p class="text-muted mb-0"> Reprobados</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row-->

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="header-title">Historial</h4>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <!-- item-->
                                        <a href="{% url 'view_test_complete' %}" class="dropdown-item">Ver todos</a>
                              
                                    </div>
                                </div>
                            </div>
                            <div class="card-header bg-light-lighten border-top border-bottom border-light py-1 text-center">
                                <p class="m-0"><b>{{miperfil.total_test}}</b> examenes completados</p>
                            </div>
                            <div class="card-body pt-2">
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-hover mb-0">
                                        <tbody>
                                            {% for examen in misexamenes %}
                                            <tr>
                                                <td>
                                                    <h5 class="font-14 my-1"><a href="{% url 'view_result_examen' examen.id %}" class="text-body">{{examen.test.title}}</a></h5>
                                                    <span class="text-muted font-13">{{examen.fecha_anotada}}</span>
                                                </td>

                                                {% if examen.status  == "Aprobado" %}
                                                    <td>
                                                        <span class="text-muted font-13">Estado</span> <br/>
                                                        <span class="badge badge-success-lighten">{{examen.status}}</span>
                                                    </td>                                                
                                                {% elif examen.status  == "Reprobado" %}
                                                <td>
                                                    <span class="text-muted font-13">Estado</span> <br/>
                                                    <span class="badge badge-danger-lighten">{{examen.status}}</span>
                                                </td>        
                                                {% elif examen.status  == "Incompleto" %}
                                                <td>
                                                    <span class="text-muted font-13">Estado</span> <br/>
                                                    <span class="badge badge-primary-lighten text-capitalize">{{examen.status}}</span>
                                                </td>   
                                                {% else %}
                                                <td>
                                                    <span class="text-muted font-13">Estado</span> <br/>
                                                    <span class="badge badge-secondary-lighten">{{examen.Incompleto}}</span>
                                                </td>        
                                                {% endif %}
                                               
                                        
                                                <td>
                                                    <span class="text-muted font-13">Materia</span>
                                                    <h5 class="font-14 mt-1 fw-normal">{{examen.test.category.name}}</h5>
                                                </td>
                                                <td>
                                                    <span class="text-muted font-13">Calificación</span>
                                                    <h5 class="font-14 mt-1 fw-normal">{{examen.score}}</h5>
                                                </td>
                                           
                                            
                                            </tr>
                                            {% endfor %}
                                        
                                            
                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->
                </div>
                <!-- end row-->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="header-title">Probabilidad de aceptacion</h4>
                                <div>
                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                        Más probables
                                    </button>
                                    <button type="button" class="btn btn-soft-primary btn-sm">
                                        Menos probables
                                    </button>
                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                        Recomendadas
                                    </button>
                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                        Todas
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div dir="ltr">
                                    <div class="chartjs-chart" style="height: 320px;">
                                        <canvas id="task-area-chart" data-bgColor="#727cf5" data-borderColor="#727cf5"></canvas>
                                    </div>
                                </div>

                            </div> <!-- end card body-->
                        </div> <!-- end card -->
                    </div><!-- end col-->
                </div>
                <!-- end row-->


              
                
            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Ad-mision - Team´s Dev 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>
    <!-- Vendor js -->
    <script src="{% static 'login/assets/js/vendor.min.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'login/assets/js/app.min.js' %}"></script>
{% endblock %}